[Desktop Entry]
Name=Xdx
Comment=DX-cluster client for amateur radio
Comment[nl]=DX-cluster client voor zendamateurs
Exec=/usr/bin/xdx
Icon=/usr/share/xdx/pixmaps/xdx.png
Terminal=false
Type=Application
Categories=Network;HamRadio
